---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
    <a href="/">Home</a>
    <a href="/about/">About me</a>

		<h1>Aisling Fontaine</h1>
    <h2>About me</h2>

    <p>Hi there! My name is ash, short for Aisling Fontaine. I also go by FireInsidE and stellaaa.sh online.</p>

    <p>I am currently studying at 42 school in Switzerland, happy to learn low-level concepts in a peer-learning environment.</p>

    <p>This is supposed to be my blog, but as you can imagine, this is still very much a work in progress, so come back regularly for updates!</p>
	</body>
</html>
