---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Blog of Ash";
---

<BaseLayout pageTitle={pageTitle}>
  <p>This is where all my posts talking about stuff that interests me regarding my learning will go.</p>

  <ul>
    <li><a href="/posts/post-1/">My first post!</a></li>
  </ul>
</BaseLayout>
