---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Dreams of Ash";

const welcoming = true;
const welcomeEmote = "https://cdn.discordapp.com/emojis/1095012855285293067.webp?size=96&animated=true"
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Aisling Fontaine's website</h2>

  {welcoming &&
    <img src={welcoming && welcomeEmote} alt="A welcoming GIF!"/>
  }
</BaseLayout>
