---
import Social from './Social.astro';
---
<style>
  footer {
    margin-top: 2rem;
  }
</style>

<footer>
  <p>Follow my adventures on my socials!</p>
  <Social platform="Github" link="https://github.com/stellaaash" />
  <Social platform="Bluesky" link="https://bsky.app/profile/stellaaash.bsky.social" />
</footer>
